
body {
  background: #fff;
}

#header {
  text-align: center;
  color: #FFF;
  text-shadow: 0 0 1px #ffffff;
  padding: 20px 20px 80px;
  background: #ffffff url('header-midnightBlue.jpg');
  border-bottom: 1px solid #ddd;
  margin: 15px 0px;
  word-wrap: break-word;
}

#title {
  font-size: 4em;
  text-shadow: 0 0 5px #000;
}

#subtitle {
  font-size: 1.5em;
  margin-top: -4px;
}

#subsubtitle {
  font-size: 1.3em;
}

#subsubtitle a {
  color: #fdfdfd;
  text-decoration: underline;
}

#resourcepage {
  text-align: left;
  color: black;
  border-bottom: 1px solid #ddd;
  margin: 0 -15px;
  word-wrap: break-word; 
  /*width: 1200px;*/
  padding: 20px;
}

#h1 a{
  color: red;
  background-color: #000;
}
