#header {
  text-align: center;
  color: #fdfdfd;
  text-shadow: 0 0 1px #000;
  padding: 20px 0 80px;
  background: #0088cc url('header_internal.jpg');
  border-bottom: 1px solid #ddd;
  margin: 0 -15px;
  word-wrap: break-word;
}

#title {
  font-size: 3em;
  text-shadow: 0 0 5px #000;
}

#subtitle {
  font-size: 1.5em;
  margin-top: -4px;
}

/*.header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;  
}*/

.footer,
.push {
  height: 50px;
  position:absolute; /* sits at bottom */
  /*bottom:0;*/
  width:100%;
  color: white;
  background-color: #3c8dbc;
  margin-top: -50px;
  margin-bottom: 50px;
  /*z-index: 1000;*/
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
